@import "./base.css";

.black {
	background: #69655f;
}

.white {
	background: #bcb49a;
}

* {
  transition:
    color 0.5s,
    background-color 0.5s,
    opacity 0.4s;
}

body {
	max-height: 100dvh;
	height: 100dvh;
	overflow: hidden;
	color: var(--text);
	background: var(--background);
	font-family: Inter, "Segoe UI", Roboto, sans-serif;
	font-size: 1rem;
}

#app {
	@apply grid max-h-dvh h-dvh place-content-center;
}
