@import "./base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.black {
  background: #8ca2ad;
  background: #69655f;
}

.white {
  background: #dee3e6;
  background: #bcb49a;
}

* {
  transition:
    color 0.5s,
    background-color 0.5s,
    opacity 0.4s;
}

body {
  min-height: 100dvh;
  color: var(--text);
  background: var(--background);
  font-family: Inter, "Segoe UI", Roboto, sans-serif;
  font-size: 1rem;
  position: relative;

  .board-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.board-container {
  display: grid;
  grid-template-areas: "ranks board" ". files";
  grid-template-columns: 50px auto;
  width: fit-content;

  .ranks {
    grid-area: ranks;
    display: grid;
    grid-template-rows: repeat(8, 85px);
    place-items: center;
    color: aliceblue;
  }

  .files {
    grid-area: files;
    display: grid;
    grid-template-columns: repeat(8, 85px);
    place-items: center;
    color: aliceblue;
    /* @apply border border-pink-600; */
  }
}

#board {
  height: 680px;
  width: 680px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  place-items: center;
  grid-area: board;
  overflow: hidden;
}
